<% include partials/header %>
<div class="container jumbotron"style="margin-top:65px;">
  <h3 class="text-center" href="/our-products" style="font-family:'Rubik',sans-serif"><a href="/our-products">OUR-PRODUCTS</a> > ANGLE-COCK</h3>
</div>
<div class="ui grid">
  <div class="four wide column"><img src="/css/imgs/products/angle-concealed-cock/2.jpeg" class="ui large image"  alt="..."><figcaption>ANGLE COCK</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/angle-concealed-cock/6.jpeg" class="ui large image"  alt="..."><figcaption>ANGLE COCK</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/angle-concealed-cock/7.jpeg" class="ui large image"  alt="..."><figcaption>ANGLE COCK</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/angle-concealed-cock/8.jpeg" class="ui large image"  alt="..."><figcaption>ANGLE COCK</figcaption></div>
</div>

<% include partials/footer %>
