<%include partials/header%>

<div class="ui grid" style="margin-top:50px">
  <div class="four wide column"><img src="/css/imgs/products/bib-cock/3.jpeg" class="ui large image"  alt="..."><figcaption>BIB COCK</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/bib-cock/4.jpeg" class="ui large image"  alt="..."><figcaption>BIB COCK</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/bib-cock/5.jpeg" class="ui large image"  alt="..."><figcaption>LONG BODY</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/bib-cock/6.jpeg" class="ui large image"  alt="..."><figcaption>LONG BODY</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/bib-cock/7.jpeg" class="ui large image"  alt="..."><figcaption>BIB COCK</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/bib-cock/8.jpeg" class="ui large image"  alt="..."><figcaption>BIB COCK</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/bib-cock/9.jpeg" class="ui large image"  alt="..."><figcaption>LONG BODY</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/bib-cock/10.jpeg" class="ui large image"  alt="..."><figcaption>LONG BODY</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/bib-cock/11.jpeg" class="ui large image"  alt="..."><figcaption>BIB COCK</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/bib-cock/12.jpeg" class="ui large image"  alt="..."><figcaption>LONG BODY</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/bib-cock/13.jpeg" class="ui large image"  alt="..."><figcaption>LONG BODY</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/bib-cock/2.jpeg" class="ui large image"  alt="..."><figcaption>LONG BODY</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/bib-cock/14.jpeg" class="ui large image"  alt="..."><figcaption>LONG BODY</figcaption></div>
</div>

<% include partials/footer %>
