<%include partials/header%>
<div class="four wide column"><img src="/css/imgs/products/angle-concealed-cock/1.jpeg" class="ui large image"  alt="..."><figcaption>CANSHIELD</figcaption></div>
<div class="four wide column"><img src="/css/imgs/products/angle-concealed-cock/5.jpeg" class="ui large image"  alt="..."><figcaption>CANSHIELD</figcaption></div>
<div class="four wide column"><img src="/css/imgs/products/angle-concealed-cock/3.jpeg" class="ui large image"  alt="..."><figcaption>CANSHIELD</figcaption></div>
<div class="four wide column"><img src="/css/imgs/products/angle-concealed-cock/4.jpeg" class="ui large image"  alt="..."><figcaption>CANSHIELD</figcaption></div>
<%include partials/footer%>
