<%include partials/header%>
<div class="container jumbotron"style="margin-top:65px;">
  <h3 class="text-center" href="/our-products" style="font-family:'Rubik',sans-serif"><a href="/our-products">OUR-PRODUCTS</a> > CANSHIELD</h3>
</div>
<div class="ui grid">
<div class="four wide column"><img src="/css/imgs/products/angle-concealed-cock/1.jpeg" class="ui large image"  alt="..."><figcaption>CANSHIELD</figcaption></div>
<div class="four wide column"><img src="/css/imgs/products/angle-concealed-cock/5.jpeg" class="ui large image"  alt="..."><figcaption>CANSHIELD</figcaption></div>
<div class="four wide column"><img src="/css/imgs/products/angle-concealed-cock/4.jpeg" class="ui large image"  alt="..."><figcaption>CANSHIELD</figcaption></div>
<div class="four wide column"><img src="/css/imgs/products/angle-concealed-cock/3.jpeg" class="ui large image"  alt="..."><figcaption>CANSHIELD</figcaption></div>
</div>
<%include partials/footer%>
