<%include partials/header %>
<div class="ui grid" style="margin-top:50px">
<div class="four wide column"><img src="/css/imgs/products/long-body/5.jpeg" class="ui large image"  alt="..."><figcaption>LONG BODY</figcaption></div>
<div class="four wide column"><img src="/css/imgs/products/long-body/6.jpeg" class="ui large image"  alt="..."><figcaption>LONG BODY</figcaption></div>
<div class="four wide column"><img src="/css/imgs/products/long-body/9.jpeg" class="ui large image"  alt="..."><figcaption>LONG BODY</figcaption></div>
<div class="four wide column"><img src="/css/imgs/products/long-body/10.jpeg" class="ui large image"  alt="..."><figcaption>LONG BODY</figcaption></div>
<div class="four wide column"><img src="/css/imgs/products/long-body/12.jpeg" class="ui large image"  alt="..."><figcaption>LONG BODY</figcaption></div>
<div class="four wide column"><img src="/css/imgs/products/long-body/13.jpeg" class="ui large image"  alt="..."><figcaption>LONG BODY</figcaption></div>
<div class="four wide column"><img src="/css/imgs/products/long-body/2.jpeg" class="ui large image"  alt="..."><figcaption>LONG BODY</figcaption></div>
<div class="four wide column"><img src="/css/imgs/products/long-body/14.jpeg" class="ui large image"  alt="..."><figcaption>LONG BODY</figcaption></div>
</div>

<%include partials/footer %>
