<%include partials/header%>
<div class="container jumbotron"style="margin-top:75px;">
  <h3 class="text-center" style="font-family:'Rubik',sans-serif">OUR-PRODUCTS</h3>
</div>
<div class="ui three column grid">


      <div class="column">
        <div class="ui segment">
          <img src="/css/imgs/products/bib-cock/2.jpeg" class="card-img-top"  alt="...">
          <div class="card-body"  style="margin-left:-20px;">
            <h5 class="card-title">Long-Body</h5>
            <p class="card-text"></p>
            <a class="positive ui button" href="/our-products/long-body">Show more</a>
          </div>
        </div>
      </div>

            <div class="column">
              <div class="ui segment">
                <img src="/css/imgs/products/angle-concealed-cock/7.jpeg" class="card-img-top"  alt="...">
                <div class="card-body"  style="margin-left:-20px;">
                  <h5 class="card-title">Angle Cock</h5>
                  <p class="card-text"></p>
                  <a class="positive ui button" href="/our-products/angle-concealed-cock">Show more</a>
                </div>
              </div>
            </div>


  <div class="column">
    <div class="ui segment">
      <img src="/css/imgs/products/bib-cock/3.jpeg" class="card-img-top"  alt="...">
      <div class="card-body"  style="margin-left:-20px;">
        <h5 class="card-title">Bib-Cock</h5>
        <p class="card-text"></p>
        <a class="positive ui button" href="/our-products/bib-cock">Show more</a>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="ui segment">
      <img src="/css/imgs/products/sink-cock/4.jpeg" class="card-img-top"  alt="...">
      <div class="card-body"  style="margin-left:-20px;">
        <h5 class="card-title">Sink Cock / Swen Neck</h5>
        <p class="card-text"></p>
        <a class="positive ui button" href="/our-products/sink-cock">Show more</a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui segment">
      <img src="/css/imgs/products/pillar-cock/1.jpeg" class="card-img-top" alt="...">
      <div class="card-body"  style="margin-left:-20px;">
        <h5 class="card-title">Pillar Cock</h5>
        <p class="card-text"></p>
        <a class="positive ui button" href="/our-products/pillar-cock">Show more</a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui segment">
      <img src="/css/imgs/products/sink-mixer/5.jpeg" class="card-img-top"  alt="...">
      <div class="card-body" style="margsin-left:-20px;">
        <h5 class="card-title">Sink Mixer</h5>
        <p class="card-text"></p>
        <a class="positive ui button" href="/our-products/sink-mixer">Show more</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <img src="/css/imgs/products/wall-mixer/3.jpeg" class="card-img-top"  alt="...">
      <div class="card-body" style="margin-left:-20px;">
        <h5 class="card-title">Wall Mixer</h5>
        <p class="card-text"></p>
        <a class="positive ui button" href="/our-products/wall-mixer">Show more</a>
      </div>
    </div>
  </div>

      <div class="column">
        <div class="ui segment">
          <img src="/css/imgs/products/angle-concealed-cock/3.jpeg" class="card-img-top"  alt="...">
          <div class="card-body"  style="margin-left:-20px;">
            <h5 class="card-title">Canshield</h5>
            <p class="card-text"></p>
            <a class="positive ui button" href="/our-products/canshield">Show more</a>
          </div>
        </div>
      </div>


</div>
<%include partials/footer%>
