<%include partials/header%>
<div class="ui three column grid"style="margin-top:43px;">
  <div class="column">
    <div class="ui segment">
      <img src="/css/imgs/products/bib-cock/2.jpeg" class="card-img-top"  alt="...">
      <div class="card-body"  style="margin-left:-20px;">
        <h5 class="card-title">Bib-Cock</h5>
        <p class="card-text"></p>
        <a class="positive ui button" href="/our-products/bib-cock">Show more</a>
      </div>
    </div>
  </div>

    <div class="column">
      <div class="ui segment">
        <img src="/css/imgs/products/wall-mixer/3.jpeg" class="card-img-top"  alt="...">
        <div class="card-body" style="margin-left:-20px;">
          <h5 class="card-title">Wall Mixer</h5>
          <p class="card-text"></p>
          <a class="positive ui button" href="/our-products/wall-mixer">Show more</a>
        </div>
      </div>
    </div>

  <div class="column">
    <div class="ui segment">
      <img src="/css/imgs/products/angle-concealed-cock/7.jpeg" class="card-img-top"  alt="...">
      <div class="card-body"  style="margin-left:-20px;">
        <h5 class="card-title">Angle Concealed Cock</h5>
        <p class="card-text"></p>
        <a class="positive ui button" href="/our-products/angle-concealed-cock">Show more</a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui segment">
      <img src="/css/imgs/products/sink-cock/4.jpeg" class="card-img-top"  alt="...">
      <div class="card-body"  style="margin-left:-20px;">
        <h5 class="card-title">Sink Cock</h5>
        <p class="card-text"></p>
        <a class="positive ui button" href="/our-products/sink-cock">Show more</a>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="ui segment">
      <img src="/css/imgs/products/pillar-cock/1.jpeg" class="card-img-top" alt="...">
      <div class="card-body"  style="margin-left:-20px;">
        <h5 class="card-title">Pillar Cock</h5>
        <p class="card-text"></p>
        <a class="positive ui button" href="/our-products/pillar-cock">Show more</a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui segment">
      <img src="/css/imgs/products/sink-mixer/5.jpeg" class="card-img-top"  alt="...">
      <div class="card-body" style="margin-left:-20px;">
        <h5 class="card-title">Sink Mixer</h5>
        <p class="card-text"></p>
        <a class="positive ui button" href="/our-products/sink-mixer">Show more</a>
      </div>
    </div>
  </div>

</div>
<%include partials/footer%>
