<% include partials/header %>

<div class="ui grid" style="margin-top:50px">
  <div class="four wide column"><img src="/css/imgs/products/pillar-cock/3.jpeg" class="ui large image"  alt="..."><figcaption>PILLAR COCK</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/pillar-cock/5.jpeg" class="ui large image"  alt="..."><figcaption>PILLAR COCK</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/pillar-cock/1.jpeg" class="ui large image"  alt="..."><figcaption>PILLAR COCK</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/pillar-cock/4.jpeg" class="ui large image"  alt="..."><figcaption>PILLAR COCK</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/pillar-cock/6.jpeg" class="ui large image"  alt="..."><figcaption>PILLAR COCK</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/pillar-cock/7.jpeg" class="ui large image"  alt="..."><figcaption>PILLAR COCK</figcaption></div>
  </div>

<% include partials/footer %>
