<% include partials/header %>
<div class="container jumbotron"style="margin-top:65px;">
  <h3 class="text-center" href="/our-products" style="font-family:'Rubik',sans-serif"><a href="/our-products">OUR-PRODUCTS</a> > PILLAR-COCK</h3>
</div>
<div class="ui grid">
  <div class="four wide column"><img src="/css/imgs/products/pillar-cock/3.jpeg" class="ui large image"  alt="..."><figcaption>PILLAR COCK</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/pillar-cock/5.jpeg" class="ui large image"  alt="..."><figcaption>PILLAR COCK</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/pillar-cock/1.jpeg" class="ui large image"  alt="..."><figcaption>PILLAR COCK</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/pillar-cock/4.jpeg" class="ui large image"  alt="..."><figcaption>PILLAR COCK</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/pillar-cock/6.jpeg" class="ui large image"  alt="..."><figcaption>PILLAR COCK</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/pillar-cock/7.jpeg" class="ui large image"  alt="..."><figcaption>PILLAR COCK</figcaption></div>
  </div>

<% include partials/footer %>
