<% include partials/header %>

<div class="ui grid" style="margin-top:50px">
  <div class="four wide column"><img src="/css/imgs/products/sink-cock/3.jpeg" class="ui large image"  alt="..."><figcaption>SINK COCK</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/sink-cock/5.jpeg" class="ui large image"  alt="..."><figcaption>SINK COCK</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/sink-cock/1.jpeg" class="ui large image"  alt="..."><figcaption>SINK COCK</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/sink-cock/4.jpeg" class="ui large image"  alt="..."><figcaption>SINK COCK</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/sink-cock/6.jpeg" class="ui large image"  alt="..."><figcaption>SWEN NECK</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/sink-cock/7.jpeg" class="ui large image"  alt="..."><figcaption>SWEN NECK</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/sink-cock/8.jpeg" class="ui large image"  alt="..."><figcaption>SWEN NECK</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/sink-cock/2.jpeg" class="ui large image"  alt="..."><figcaption>SWEN NECK</figcaption></div>
</div>

<% include partials/footer %>
