<% include partials/header %>

<div class="ui grid" style="margin-top:50px">
  <div class="four wide column"><img src="/css/imgs/products/sink-mixer/7.jpeg" class="ui large image"  alt="..."><figcaption>SINK MIXER</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/sink-mixer/1.jpeg" class="ui large image"  alt="..."><figcaption>SINK MIXER</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/sink-mixer/5.jpeg" class="ui large image"  alt="..."><figcaption>SINK MIXER</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/sink-mixer/3.jpeg" class="ui large image"  alt="..."><figcaption>SINK MIXER</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/sink-mixer/6.jpeg" class="ui large image"  alt="..."><figcaption>SINK MIXER</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/sink-mixer/4.jpeg" class="ui large image"  alt="..."><figcaption>SINK MIXER</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/sink-mixer/8.jpeg" class="ui large image"  alt="..."><figcaption>SINK MIXER</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/sink-mixer/2.jpeg" class="ui large image"  alt="..."><figcaption>SINK MIXER</figcaption></div>
</div>

<% include partials/footer %>
