<% include partials/header %>

<div class="ui grid" style="margin-top:50px">
  <div class="four wide column"><img src="/css/imgs/products/wall-mixer/2.jpeg" class="ui large image"  alt="..."><figcaption>WALL MIXER</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/wall-mixer/1.jpeg" class="ui large image"  alt="..."><figcaption>WALL MIXER</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/wall-mixer/5.jpeg" class="ui large image"  alt="..."><figcaption>WALL MIXER</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/wall-mixer/3.jpeg" class="ui large image"  alt="..."><figcaption>WALL MIXER</figcaption></div>
  <div class="four wide column"><img src="/css/imgs/products/wall-mixer/4.jpeg" class="ui large image"  alt="..."><figcaption>WALL MIXER</figcaption></div>
</div>

<% include partials/footer %>
