<% include partials/header %>
<div class="text-left" id = "warranty">
<a class="ui red tag label" id="z4">7 years of warranty on its all products</a>
</div>
<div id="warranty" style="margin-top:0">
  <h2 style="margin-left:20px;color:#9b2450">Terms and Conditions</h2>
</div>
<div class="ui bulleted list" id="z5" style="font-size:14px;font-weight:600;line-height:30px">
  <div class="item"><p class="text-justify">Zippo Gold Bath Fitting offers warranty on its all products as per the warranty periods</p></div>
  <div class="item"><p class="text-justify">This warranty shall be governed by the laws of India and the Courts in New Delhi, India and jurisdiction to entertain any dispute regarding or arising out of the warranty or the sale of the product. The provisions of the limited warranty shall be interpreted and governed pursuant to the laws of India.</p></div>
  <div class="item"><p class="text-justify">Zippo Gold Bath Fitting only repairs parts at no cost, replace any product or part which proves defective because of improper workmanship and / or material, under normal installation, use, service and maintenance.</p></div>
  <div class="item"><p class="text-justify">Zippo Gold Bath Fitting and customer agree that Zippo Gold Bath Fitting will not be liable for any damages whatsoever arising out of use or inability to use its product</p></div>
  <div class="item"><p class="text-justify">By purchasing this product, customer agrees to Zippo Gold Bath Fitting aforesaid warranty on the product.</p></div>
  <div class="item"><p class="text-justify">Zippo Gold Bath Fitting shall not be liable to Customer claiming the warranty under the terms and condition of this limited Warranty Certificate, due to defects caused by rodents or in the event of force majeure</p></div>
  <div class="item"><p class="text-justify">Zippo Gold Bath Fitting and customer agree that Corsa liability under any circumstances is maximum to the purchase value of the products.</p></div>
  <div class="item"><p class="text-justify">Warranty Voids if Intentional and Accidental use of cleaners containing abrasive cleanser, bleach acids, dye, ammonia, alcohol, solvents waxes, bath salts/oil or other products not recommended for color and coating and due to not proper cleaning or cleaning with also for fading of any material due to sun or chemical exposure.</p></div>
  <div class="item"><p class="text-justify">The warranty voids if the product is not operated in accordance with the instructions concerning use and operating.</p></div>
</div>
<a class="ui tag label">COMPANY WILL NOT BE RESPONSIBLE FOR LOSS CAUSED DURING OR AFTER THE INSTALLATION OF THE PRODUCT.</a>
<% include partials/footer %>
